#rasm img{
    width: 500px;
    height: 725px;
    margin-right: 500px;
    
}
#ish{
    float: right;
    border: 1px solid;
    height: 725px;
    width: 999px;
}
#ish input{
    margin-right: 50px;
    padding: 15px;
    width: 250px;
    margin-left:20px;
    margin-top: 10px;
}
#rasm{
    border: 1px solid;
    margin-right: 1000px;
}
#ish label{
    margin-left:20px;

}
h2{
    margin-left: 50px;
}
button{
    margin-left: 120px;
    margin-top: 100px;
    width: 800px;
    height: 40px;
    background-color: rgb(73, 73, 146);
    
}
h3{
    margin-left: 50px;
    
}
.odam{
    margin-left: 0px;
}